html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  zoom: 2;
}

.card-canvas {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: #ff5252;
}

.markdown {
  color: #fff;
}

.card-canvas img {
  display: block;
  width: 50%;
  border-radius: 4px;
  margin: 0 auto;
}

.card-canvas p {
  margin-bottom: 0;
}
