html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  zoom: 1.3;
}

p {
  margin-bottom: 0;
}

.card-canvas {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: #ff5252;
}

.markdown {
  color: #fff;
}

.card-canvas img {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 4px;
  margin: 0 auto;
}

.head-note {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  height: 24px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 7px;
}

.material-icons {
  color: #fff
}
/*-----Card Styling-----*/

.Roboto * {
  font-family: 'Roboto', sans-serif;
}

.Raleway * {
  font-family: 'Raleway', sans-serif;
}

.Montserrat * {
  font-family: 'Montserrat', sans-serif;
}

.red {
  background-color: #ff5252;
  color: white;
}

.blue {
  background-color: #B3E5FC;
}

.yellow {
  background-color: yellow;
}
