html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

p {
  margin-bottom: 0;
}

.body-primary {
  position: fixed;
  z-index: -1;
  height: 25%;
  background-color: #03A9F4;
  width: 100%;
  color: #FFFFFF;
}

.body-primary h1 {
  color: #fff;
  margin-top: 7%;
  font-size: 3em;
  font-weight: bold;
}

.auth .mdl-card {
  width: 100%;
  margin-top: 20%;
}

.auth .mdl-card__title {
  padding: 30px 0 0 30px;
}

.auth .mdl-card__title-text {
  font-size: 2em;
  color: #757575;
}

.auth .mdl-card__supporting-text {
  padding: 20px 30px;
  width: 100%;
}

.auth .mdl-textfield {
  display: block;
  width: 100%;
}

.auth .warning {
  height: 30px;
  line-height: 30px;
  font-size: 1.5em;
  color: #FF8F00;
}

.auth .mdl-card__actions {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.card-deck {
  width: 100%;
  margin-top: 20%;
  min-height: 100px;
}

.col-xs-12 .card-deck {
  margin-top: 15% !important;
}

.card-deck .mdl-card__title {
  padding: 30px 0 0 30px;
}

.card-deck .mdl-card__title-text {
  font-size: 2em;
  color: #757575;
}

.card-deck button {
  margin-left: 15px;
}

.card-deck .mdl-card__supporting-text {
  padding: 30px;
  font-size: 1em;
}

.card {
  margin-top: 20px;
  min-height: 0;
  width: 100%;
  background-color: #B3E5FC;
}

.card .mdl-card__supporting-text {
  font-size: 1em;
}

.card .mdl-card__actions {
  display: flex;
  justify-content: flex-end;
}

.card .mdl-button {
  margin-left: 10px;
}

.deck-footer {
  height: 100px;
}

.add-card {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 2;
}

.popup {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(144, 144, 144, 0.5);
}


.popup .mdl-card {
  background-color: #03A9F4;
}

#note-popup .mdl-card {
  /*position: fixed;*/
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 675px;
  height: 500px;
  /*background-color: rgba(144, 144, 144, 0.5);*/
  background-color: #B3E5FC;
}

#note-popup .mdl-card__supporting-text {
  font-size: 1.5em;
  width: 650px;
  height: 200px;
}

.popup .mdl-card__supporting-text {
  font-size: 1em;
}

.popup .mdl-card__actions {
  display: flex;
  justify-content: space-between;
}

.new-card-info .mdl-card {
  width: 100%;
  margin-top: 13%;
  min-height: 0;
}

.new-card .mdl-card,
.card-preview .mdl-card {
  margin-top: 20px;
}

.new-card .mdl-card {
  width: 100%;
  height: 550px;
}

.new-card form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.new-card .mdl-card__title {
  padding: 30px 0 0 30px;
}

.new-card .mdl-card__supporting-text {
  width: 100%;
  height: 85%;
  padding: 10px 30px;
}

.new-card .text-area {
  height: calc(50% - 25px);
}

.new-card .note-area {
  height: calc(50% - 25px);
}

.new-card textarea {
  height: 100%;
}

.new-card .mdl-card__supporting-text p {
  margin-bottom: 0;
}

.new-card .mdl-textfield {
  width: 100%;
}

.new-card .mdl-card__actions {
  display: flex;
  justify-content: flex-end;
}

.new-card .mdl-card__actions .mdl-button {
  margin-left: 10px;
}
.card-preview .mdl-card {
  width: 100%;
  background-color: #B3E5FC;
}

/* fix for weird bootstrap thing */
.card-preview h1 {
  font-size: 56px;
}

.card-preview .mdl-card__supporting-text {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 350px;
  width: 100%;
}

.card-preview img {
  display: block;
  width: 50%;
  border-radius: 4px;
  margin: 0 auto;
}

.mdl-chip {
  width: 60px;
  height: 30px;
}
/*-----Card Styling-----*/
.Roboto {
  font-family: 'Roboto', sans-serif;
}

.Raleway {
  font-family: 'Raleway', sans-serif;
}

.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.red {
  background-color: #ff5252;
  color: white;
}

.blue {
  background-color: #B3E5FC;
}

.yellow {
  background-color: yellow;
}
