body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cast-markdown {
  width: 560px;
}

.cast-markdown .mdl-card__title {
  background-color: #009688;
}

.cast-markdown .mdl-card__title-text {
  font-size: 2.5em;
  padding: 5px;
  color: #fff;
}

.cast-markdown .mdl-card__supporting-text {
  padding: 20px 30px;
}

.mdl-textfield {
  width: 500px;
}

.card-canvas {
<<<<<<< HEAD
  width: 500px;
=======
  width: 520px;
>>>>>>> Showing preview of the card before casting
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: #ff5252;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
  margin-bottom: 1000px;
>>>>>>> Showing preview of the card before casting
}

.preview {
  color: #fff;
}
